
name: Frontend application pipeline

trigger: none

pool:
  vmImage: 'Ubuntu-latest'


stages:
    - stage: checkoutstage
      jobs:
          - job: checkoutjob
            steps:
                - checkout: self

    - stage: 
      jobs:
          - job: npminstalljob
            steps:
                - task: Npm@1
                  inputs:
                    command: 'install'
                    workingDir: '$(System.DefaultWorkingDirectory)'

                - task: Npm@1
                  inputs:
                    command: 'custom'
                    workingDir: '$(System.DefaultWorkingDirectory)'
                    customCommand: 'run build'

                - task: ArchiveFiles@2
                  inputs:
                    rootFolderOrFile: 'build'
                    includeRootFolder: true
                    archiveType: 'zip'
                    archiveFile: '$(Build.ArtifactStagingDirectory)/todoapp.zip'
                    replaceExistingArchive: true

                - task: PublishPipelineArtifact@1
                  inputs:
                    targetPath: '$(Pipeline.Workspace)'
                    artifact: 'todoapp'
                    publishLocation: 'pipeline'


    - stage: deploy
      jobs:
      - deployment: DeploytoVm
        displayName: deploy artifect to vm
        environment: 
          name: 'Dev'
          resourceName: raghavfrontendtodovm01
          resourceType: virtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                  - task: DownloadPipelineArtifact@2
                    inputs:
                      buildType: 'current'
                      artifactName: 'todoapp'
                      targetPath: '$(Pipeline.Workspace)'
        
                  - task: Bash@3
                    inputs:
                      targetType: 'inline'
                      script: |
                        echo "Going to artifact build folder"
                        cd $(Pipeline.Workspace)/todoapp/s/build
                        
                        echo "Cleaning nginx folder"
                        sudo rm -rf /var/www/html/*
                        
                        echo "Copying build files to nginx root"
                        sudo cp -r . /var/www/html/
                        
                        echo "Deployment finished"