name: Frontend application pipeline

trigger: none

pool: KarunaPool


stages:
    - stage: checkoutstage
      jobs:
          - job: checkoutjob
            steps:
                - checkout: self

    - stage: 
      jobs:
          - job: npminstalljob
            steps:
                - task: Npm@1
                  inputs:
                    command: 'install'
                    workingDir: '$(System.DefaultWorkingDirectory)'

                - task: Npm@1
                  inputs:
                    command: 'custom'
                    workingDir: '$(System.DefaultWorkingDirectory)'
                    customCommand: 'run build'