name: Frontend application pipeline

trigger: none

pool: KarunaPool


stages:
    - stage: checkoutstage
      jobs:
          - job: checkoutjob
            steps:
                - checkout: self

    - stage: 
      jobs:
          - job: npminstalljob
            steps:
                - task: PowerShell@2
                  inputs:
                    targetType: 'inline'
                    script: 'npm install'

                - task: PowerShell@2
                  inputs:
                    targetType: 'inline'
                    script: 'npm run build'
