name: Frontend application pipeline

trigger: none

pool: karunapool


stages:
    - stage: Buildstage
      jobs:
          - job: checkoutjob
            steps:
                - task: PowerShell@2
                  inputs:
                    targetType: 'inline'
                    script: '- checkout: self'


